.imgContainer {
    width: 250px;
    height: 400px;
    overflow: hidden;
    display: flex;
    position: absolute;
    justify-content: center;
}

.img {
    height: 100%;
}

.timeText {
    position: relative;
}   